/dist/
build/classes/cenafilosofos/Filosofo.class
build/classes/visual/cenaVisual$1.class
build/classes/visual/cenaVisual$2.class
build/classes/visual/cenaVisual$3.class
build/classes/visual/cenaVisual.class
build/classes/cenafilosofos/mesa.class
build/built-jar.properties
build/classes/visual/comiendo.png
build/classes/visual/filosofo.png
build/classes/visual/mesa.png
build/classes/visual/pensando.png
